.top_band {
  display: flex;
  padding: 10px 12px;
  background: #fff;
  border-bottom: 1px solid #eee;
}

.title {
  color: #424242;
  height: 22px;
  line-height: 27px;
  font-family: "robotobold", sans-serif;
  font-size: 18px;
  font-weight: norboldmal;
  margin-left: 8px;
}

.svg_icon {
  margin-top: 4px;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.left_section {
  height: 100vh;
  padding: 10px;
  border: 1px solid #eee;
  width: 244px;
  opacity: 1;
  background-color: #efefef;
  transition: all 0.5s;
}

.left_Sec_title {
  display: flex;
  line-height: 19px;
  font-size: 15px;
  font-family: "robotobold", sans-serif;
  font-weight: normal;
  border-bottom: 1px solid #ddd;
  height: 24px;
}

.right_Section {
  width: calc(100% - 255px);
}

.right_Section .bg_image {
  width: 100%;
  height: 100vh;
  background-image: url(https://tpointdevstorage.blob.core.windows.net/basedevpubliccontainer/1556297420710.JPG);
  background-position: center top;
  background-size: cover;
}