.accord {
  width: calc(100% - 590px);
  border: 1px solid #ccc;
  background: #f8f8f8;
  height: calc(74vh - -112px);
}
.accord_band {
  padding: 10px;
  background: #eef6fb;
  display: flex;
  justify-content: space-between;
}
.search_box {
  width: 240px;
  border: 1px solid #cccccc;
  height: 26px;
  border-radius: 26px;
  display: flex;
  background: #fff;
}
.search_box svg {
  color: #6f6ee0;
  font-size: 21px;
  margin-right: 5px;
  margin-top: 4px;
}

.search_box input {
  border: none !important;
  margin-left: 10px;
  width: 220px !important;
  height: 24px !important;
  outline: none !important;
}
.save {
  background: #6f6ee0;
  height: 24px;
  display: flex;
  justify-content: space-between;
  margin-right: 5px;
  cursor: pointer;
  margin-top: 3px;
}
.save .save_icon {
  width: 24px;
  height: 24px;
  background: #5756e6;
  text-align: center;
  line-height: 32px;
}
.save_icon svg {
  padding: 2px !important;
}
.save .txt {
  color: #fff;
  padding: 0px 6px;
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
  font-family: sans-serif;
}
.accord_cont {
  display: flex;
  justify-content: space-between;
  overflow-y: scroll;   
  background-color: #fff !important;
}
.left_sec  {
  width: calc(100% - 690px);
  padding: 12px 12px;
}
.left_sec .text01 {
  font-size: 13px;
  font-weight: 500;
  color: #6f6ee0;
  text-align: start;
  line-height: 18px;
}
.left_sec .text02 {
  font-size: 12px;
  font-weight: 500;
  color: #333;
  line-height: 22px;
  text-transform: uppercase;
}
.right_sec{
  width: 690px;
  padding: 12px 0px;
}
.right_sec .all_val {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
}
.all_val .value {
  font-size: 12px;
  background: #222;
  color: #fff;
  padding: 2px 8px;
  border-radius: 30px;
  line-height: 16px;
  font-weight: 400;
  font-family: sans-serif;
  margin-left: 4px;
  margin-bottom: 4px;
  cursor: pointer;
}
.accord_cont svg {
  width: 18px;
  height: 18px;
  color: #6f6ee0;
  margin-top: 2px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  padding: 10px 0px;
}
.accord_cont :hover {
  color: #222;
}
.owner_status {
  float: right;
  width: auto;
  font-size: 12px;
  text-align: right;
  margin-top: 5px;
  color: #888888;
  clear: right;
  margin-bottom: 10px;
}
@media only screen and (max-width: 999px) {
  .accord {
    width: 100%;
    border: 1px solid #ccc;
    background: #f8f8f8;
    height: auto;
  }
}
@media only screen and (max-width: 800px) {
  .right_sec{
    width: 400px;
  }
  .left_sec  {
    width: calc(100% - 400px);
  }
}
@media only screen and (max-width: 500px) {
  .right_sec{
    width: 300px;
  }
  .left_sec  {
    width: calc(100% - 300px);
  }
}

@media only screen and (min-width: 1150px) and (max-width: 1360px){
  .right_sec{
    width: 420px;
  }
  .left_sec  {
    width: calc(100% - 420px);
  }
}
@media only screen and (min-width: 1361px) and (max-width: 1680px){
  .right_sec{
    width: 620px;
  }
  .left_sec  {
    width: calc(100% - 620px);
  }
}
@media only screen and (min-width: 1681px){
  .right_sec{
    width: 1000px;
  }
  .left_sec  {
    width: calc(100% - 1000px);
  }
}
@media only screen and (min-width: 998px) and (max-width: 1154px){
  .right_sec{
    width: 300px;
  }
  .left_sec  {
    width: calc(100% - 300px);
  }
}
.nice_scroll {
  overflow-y: scroll;
  max-height: 140px;
  margin-right: -13px;
  margin-top: -12px;
    margin-bottom: -12px;
    margin-left: -12px;
}

.nice_scroll::-webkit-scrollbar {
  width: 8px;
}

.nice_scroll::-webkit-scrollbar-track {
  background: #fff;
  border: 1px solid #aaa;
}

.nice_scroll::-webkit-scrollbar-thumb {
  background: #aaa;
}

.nice_scroll::-webkit-scrollbar-thumb:hover {
  background: #ddd;
}
