.css-14el2xx-placeholder {
  text-align: left !important;
  font-size: 13px !important;
}
.css-qc6sy-singleValue {
  text-align: left !important;
}
.css-1okebmr-indicatorSeparator {
  width: 0px !important;
}
.drops.css-16awh2u-MuiAutocomplete-root .MuiOutlinedInput-root {
  padding: 4px !important;
}
.drops.css-16awh2u-MuiAutocomplete-root {
  background: #fff !important;
  width: 218px !important;
  outline: none !important;
}